################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nhom9_QLDHSTHPT/Nhom9_QLDHSTHPT/.vs/Nhom9_QLDHSTHPT
